.confirm-modal {
  text-align: center;
}

.confirm-modal h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.confirm-modal p {
  color: var(--text-secondary);
  margin-bottom: 2rem;
}

.btn-confirm-danger {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: #e74c3c; /* Merah */
  color: #fff;
}

.btn-confirm-danger:hover {
  background-color: #c0392b; /* Merah lebih gelap */
}
